body {position: relative;
font size: 20px;
background-color: pink}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid #DDAF94;
    border-radius: 20px;
}

.text-center {
    text-align: center;
  }

  .text center {
    text-align: right;
}

section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid #DDAF94;
    background-color:  #E8CEBF;
  }

